# Build artifacts
/build/
/build*/
*.pyd
*.dll
*.so
*.obj
*.exp
*.lib
*.pdb

# Python
__pycache__/
*.py[cod]
*.env
.venv/

# VS / CMake
*.vcxproj*
*.sln
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Testing/
compile_commands.json

# Misc
.DS_Store
